@font-face {
	font-family: OSP-limousine;
	src: url('fonts/limousine.ttf');
}
#bellyband {
	width: 100%;
	height: 300px;
	position: fixed;
	top: 150px;
	background-color: #fafafa;
}
#bellyband h2 {
	font-family: OSP-limousine;
	font-size: 18pt;
	margin: 10px;
}
#bellyband p {
	font-family: OSP-limousine;
	font-size: 18pt;
	margin: 10px;
}
