@font-face {
	font-family: neuehg;
	src: url('neuehaasgrotesk.otf');
}
body {	
	font-family: neuehg;
	font-size: 24pt;
	margin: 0;
}
#feat {
	width: 100%;
	background-color: #f0f0f0;
}	
p {
	margin-bottom: 10px;
	width: 500px;
}
iframe {
	margin: 0;
	padding: 0;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
}
